#header1{

    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    color: #000;
    
}
input{
    padding: 7px;
    width: 430px;
    border-radius: 10px;
}
#header2{
    list-style-type: none;
    
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #000;
    margin-left: 425px;
    margin-right: 425px;
    

}
#header2 > a {
    
    text-decoration: none;
    color: #000;
    font-size: 20px;
    

    
}


#header2 > a :hover{
     background-color: rgb(255, 165, 0);
     border-radius: 6px;

 }

div.header{
    background: #3483eb;
    margin-bottom: 0;
    
}

img{

    width: 50px;
    height: 50px;
    margin-left: 10px;
}

div.chuck {

    display: flex;
    flex-direction: column;
    
}

h5{
    text-align: center;
}

